@model bgrimmett_bugtracker.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}


<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Reset Password</div>
            <div class="card-body">
                <div class="text-center mt-4 mb-5">
                    <h4>Forgot your password?</h4>
                    <p>Enter your email address and we will send you instructions on how to reset your password.</p>
                </div>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*<h4>Enter your email.</h4>*@
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Email Link" />
                        </div>
                    </div>
                }
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("Register")">Register an Account</a>
                    <a class="d-block small" href="@Url.Action("Login", "Account")">Login Page</a>
                </div>

            </div>
        </div>
    </div>
</body>

@*section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
