@model IEnumerable<bgrimmett_bugtracker.Models.CodeFirst.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

<div class="container text-center">
    <h2>Projects</h2>
</div>


<!-- Example DataTables Card-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Project Index
        @if (User.IsInRole("Admin"))
        {
            <p class="pull-right">
                @Html.ActionLink("Create New", "Create")
            </p>
        }
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Creator</th>
                        @*<th>Body</th>
                            <th>Status</th>*@
                        @*<th>Users</th>*@
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Project Name</th>
                        <th>Creator</th>
                        @*<th>Body</th>
                        <th>Status</th>*@
                        @*<th>Users</th>*@
                        <th>Date Created</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AuthorId)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Body)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            @if (User.IsInRole("Admin"))
                            {
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn-sm btn-primary" style="text-decoration:none;">Edit</a> |
                                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn-sm btn-success" style="text-decoration:none;">Details</a> |
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn-sm btn-danger" style="text-decoration:none;">Delete</a>
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated on @DateTimeOffset.Now</div>
</div>


















@*<table class="table">
        <tr>
            <th>
                Project Name
            </th>
            <th>
                Creator
            </th>
            <th>
                Body
            </th>
            <th>
                Status
            </th>
            <th>
                Created
            </th>
            <th>
                Updated
            </th>
            <th></th>
        </tr>



    </table>*@
